<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>HeartBeat</name>
        <type>plugin</type>
        <creationDate>2016-04-27</creationDate>
        <lastUpdate>2019-07-21</lastUpdate>
        <author>Frederik Prijck</author>
        <authorUrl>https://github.com/frederikprijck</authorUrl>
        <version>1.0.5</version>
        <license>MIT</license>
        <description><![CDATA[A heartbeat plugin for LimeSurvey to ensure the session is kept alive.]]></description>
    </metadata>
    <compatibility>
        <version>2.6</version>
        <version>2.73</version>
        <version>3.0</version>
        <version>4.0</version>
        <version>4.1</version>
    </compatibility>
</config>
